.navbar-default {
	background-color: #f1e6bb;
	border-color: #e2caa2;
}

.navbar-brand {
	padding: 5px;
}


.chocolateCard img {
	height: 200px;
}

.chocolateCard {
	background-color: cornsilk;
	margin-bottom: 30px;
	padding: 20px;
}

h3 {
	margin-top: 0px;
}

